# Python
__pycache__/
*.py[cod]
*.class
venv/
.venv/
env/
.env

# Ape / Brownie / Hardhat artifacts
.build/
.cache/
.ape/
.plugins/
*.json

# Vyper artifacts
vyper_artifacts/

# OS specific
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
